
body {
    font-family: Arial, sans-serif;
}

.todo {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.complete {
    text-decoration: line-through;
}
